absl-py==2.1.0
accelerate==0.27.2
aiohttp==3.9.3
aiosignal==1.3.1
alabaster==0.7.16
alembic==1.13.1
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope==0.1.3
asteroid-filterbanks==0.4.0
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
audioread==3.0.1
Babel==2.14.0
beautifulsoup4==4.12.2
bitsandbytes==0.42.0
blinker==1.7.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==6.8.2
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
datasets==2.17.1
debugpy==1.8.0
decorator==4.4.2
dill==0.3.8
docopt==0.6.2
docutils==0.20.1
easyocr==1.7.1
einops==0.7.0
executing==2.0.1
ffmpeg==1.4
filelock==3.13.1
fire==0.5.0
Flask==3.0.0
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2023.10.0
gast==0.5.4
google==3.0.0
google-api-core==2.15.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-language==2.12.0
google-cloud-speech==2.23.0
google-cloud-storage==2.13.0
google-cloud-texttospeech==2.15.0
google-cloud-translate==3.13.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.6.0
google-speech==1.2.0
google-translate==0.1
googleapis-common-protos==1.62.0
googletrans==3.1.0a0
greenlet==3.0.3
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.9.0
h2==3.2.0
h5py==3.10.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.20.3
hyperframe==5.2.0
HyperPyYAML==1.2.2
idna==2.10
imageio==2.33.1
imageio-ffmpeg==0.4.9
imagesize==1.4.1
indic-nlp-library-IT2 @ git+https://github.com/VarunGumma/indic_nlp_library@18e85551b0b331a65d11acf869afd4cfa615bc4c
-e git+https://github.com/VarunGumma/IndicTransTokenizer@e20d2d762fa20dea3b87858a4e38adf93ddfe50f#egg=IndicTransTokenizer
ipykernel==6.27.1
ipython==8.18.1
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
julius==0.2.7
jupyter_client==8.6.0
jupyter_core==5.5.0
keras==2.15.0
kiwisolver==1.4.5
lazy_loader==0.3
libclang==16.0.6
libretranslatepy==2.1.1
librosa==0.10.1
lightning==2.2.0.post0
lightning-utilities==0.10.1
llvmlite==0.42.0
lxml==4.9.3
Mako==1.3.2
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ml-dtypes==0.2.0
mock==5.1.0
more-itertools==10.2.0
Morfessor==2.0.6
mosestokenizer==1.2.1
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nest-asyncio==1.5.8
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
numba==0.59.0
numpy==1.26.2
oauthlib==3.2.2
omegaconf==2.3.0
openai-whisper==20231117
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
openfile==0.0.7
opt-einsum==3.3.0
optuna==3.5.0
packaging==23.2
pandas==2.2.1
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
pooch==1.8.1
primePy==1.3
proglog==0.1.10
prompt-toolkit==3.0.41
proto-plus==1.23.0
protobuf==4.25.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pvleopard==2.0.2
pyannote.audio==3.1.1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pyclipper==1.3.0.post5
pycparser==2.21
pydub==0.24.1
Pygments==2.17.2
pyparsing==3.1.1
pytesseract==0.3.10
python-bidi==0.4.2
python-dateutil==2.8.2
python-dotenv==1.0.0
pytorch-lightning==2.2.0.post0
pytorch-metric-learning==2.4.1
pytube==15.0.0
pytz==2024.1
pywin32==306
pywinpty==2.0.12
PyYAML==6.0.1
pyzmq==25.1.2
qtconsole==5.5.1
QtPy==2.4.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.7.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
sacremoses==0.1.1
safetensors==0.4.2
scikit-image==0.22.0
scikit-learn==1.4.1.post1
scipy==1.11.4
semver==3.0.2
Send2Trash==1.8.2
sentencepiece==0.2.0
shapely==2.0.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
speechbrain==0.5.16
Sphinx==7.2.6
sphinx-argparse==0.4.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
SQLAlchemy==2.0.27
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado==0.18.0
testpath==0.6.0
threadpoolctl==3.3.0
tifffile==2023.12.9
tiktoken==0.6.0
tokenizers==0.15.2
toml==0.10.2
toolwrapper==2.1.0
torch==2.1.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.1.1
torchmetrics==1.3.1
torchvision==0.16.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.0
transformers==4.38.1
translate==3.6.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2024.1
uctools==1.3.0
urllib3==2.1.0
wcwidth==0.2.12
web-cache==1.1.0
webencodings==0.5.1
Werkzeug==3.0.1
widgetsnbextension==4.0.9
wrapt==1.14.1
xxhash==3.4.1
yarl==1.9.4
